# Data

In [52]:
import pandas as pd
from catboost import CatBoostClassifier
from sklearn.model_selection import train_test_split

In [53]:
df_train_X = pd.read_csv('PlaneChalData/train_X.csv')
df_train_y = pd.read_csv('PlaneChalData/train_y.csv')
df_test_X = pd.read_csv('PlaneChalData/test1_X.csv')

In [54]:
# columns_test = df_test_X.dropna(axis=1).columns
# columns_train = df_train_X.dropna(axis=1).columns
columns_test = df_test_X.fillna(0).columns
columns_train = df_train_X.fillna(0).columns
df_test_X = df_test_X.fillna(0)
df_train_X = df_train_X.fillna(0)

## Cleaning data

In [55]:
X_train = df_train_X
X_test = df_test_X

In [56]:
# Первая итерация
X_train = X_train.drop(columns=['agg_ks2__g_contract__id__all__count__1W', 'agg_spark_extended_report__g_contractor__PledgeeCeasedCount__last__ALL_TIME'])
X_test = X_test.drop(columns=['agg_ks2__g_contract__id__all__count__1W', 'agg_spark_extended_report__g_contractor__PledgeeCeasedCount__last__ALL_TIME'])
# Вторая итерация
X_train = X_train.drop(columns = ['agg_cec_requests__g_contract__request_id__all__count__1W', 'agg_cec_requests__g_contract__total_sum_accepted__all__sum__1W', 'agg_payments__g_contract__sum__all__countDistinct__1W', 'agg_BoardOfDirectors__g_contractor__Name__count__ALL_TIME'])
X_test = X_test.drop(columns = ['agg_cec_requests__g_contract__request_id__all__count__1W', 'agg_cec_requests__g_contract__total_sum_accepted__all__sum__1W', 'agg_payments__g_contract__sum__all__countDistinct__1W', 'agg_BoardOfDirectors__g_contractor__Name__count__ALL_TIME'])
# После второй итерации не осталось таких столбцов

In [57]:
# Удаляем те столбцы, влияние которых ниже порога 0.3
X_train = X_train.drop(columns=['agg_cec_requests__g_contract__request_id__all__count__2W',
 'agg_cec_requests__g_contract__request_id__all__count__3W',
 'agg_cec_requests__g_contract__total_sum_accepted__all__sum__2W',
 'agg_cec_requests__g_contract__total_sum_accepted__all__sum__3W',
 'agg_cec_requests__g_contract__total_sum_accepted__all__sum__6W',
 'agg_cec_requests__g_contract__time_btw_requests__all__mean__1M',
 'agg_payments__g_contract__sum__all__countDistinct__2W',
 'agg_payments__g_contract__sum__all__countDistinct__4W',
 'agg_payments__g_contract__sum__all__countDistinct__8W',
 'agg_payments__g_contract__sum__all__sum__1W',
 'agg_payments__g_contract__sum__all__sum__2W',
 'agg_payments__g_contract__sum__all__sum__4W',
 'agg_ks2__g_contract__id__all__count__2W',
 'agg_ks2__g_contract__id__all__count__4W',
 'agg_ks2__g_contract__id__all__count__12W',
 'agg_ks2__g_contract__total_sum__all__sum__1W',
 'agg_ks2__g_contract__total_sum__all__sum__2W',
 'agg_ks2__g_contract__total_sum__all__sum__4W',
 'agg_spass_applications__g_contract__appl_count_week__mean__1W',
 'agg_spass_applications__g_contract__appl_count_week__mean__2W',
 'agg_spass_applications__g_contract__appl_count_week__mean__3W',
 'agg_spass_applications__g_contract__appl_count_week__mean__5W',
 'agg_workers__g_contract__fact_workers__all__mean__5W',
 'agg_materials__g_contract__order_id__countDistinct__1W'])
X_test = X_test.drop(columns=['agg_cec_requests__g_contract__request_id__all__count__2W',
 'agg_cec_requests__g_contract__request_id__all__count__3W',
 'agg_cec_requests__g_contract__total_sum_accepted__all__sum__2W',
 'agg_cec_requests__g_contract__total_sum_accepted__all__sum__3W',
 'agg_cec_requests__g_contract__total_sum_accepted__all__sum__6W',
 'agg_cec_requests__g_contract__time_btw_requests__all__mean__1M',
 'agg_payments__g_contract__sum__all__countDistinct__2W',
 'agg_payments__g_contract__sum__all__countDistinct__4W',
 'agg_payments__g_contract__sum__all__countDistinct__8W',
 'agg_payments__g_contract__sum__all__sum__1W',
 'agg_payments__g_contract__sum__all__sum__2W',
 'agg_payments__g_contract__sum__all__sum__4W',
 'agg_ks2__g_contract__id__all__count__2W',
 'agg_ks2__g_contract__id__all__count__4W',
 'agg_ks2__g_contract__id__all__count__12W',
 'agg_ks2__g_contract__total_sum__all__sum__1W',
 'agg_ks2__g_contract__total_sum__all__sum__2W',
 'agg_ks2__g_contract__total_sum__all__sum__4W',
 'agg_spass_applications__g_contract__appl_count_week__mean__1W',
 'agg_spass_applications__g_contract__appl_count_week__mean__2W',
 'agg_spass_applications__g_contract__appl_count_week__mean__3W',
 'agg_spass_applications__g_contract__appl_count_week__mean__5W',
 'agg_workers__g_contract__fact_workers__all__mean__5W',
 'agg_materials__g_contract__order_id__countDistinct__1W'])

X_train = X_train.drop(columns=['agg_cec_requests__g_contract__total_sum_accepted__all__sum__5W',
 'agg_cec_requests__g_contract__time_btw_requests__all__mean__3M',
 'agg_spass_applications__g_contract__appl_count_week__mean__4W',
 'agg_materials__g_contract__order_id__countDistinct__2W',
 'agg_tender_proposal__g_contractor__id__ALL__countDistinct__1W'])

X_test = X_test.drop(columns=['agg_cec_requests__g_contract__total_sum_accepted__all__sum__5W',
 'agg_cec_requests__g_contract__time_btw_requests__all__mean__3M',
 'agg_spass_applications__g_contract__appl_count_week__mean__4W',
 'agg_materials__g_contract__order_id__countDistinct__2W',
 'agg_tender_proposal__g_contractor__id__ALL__countDistinct__1W'])

In [58]:
X_test.head()

,contract_id,report_date,specialization_id,contract_init_sum,contract_date,project_id,building_id,contractor_id,contract_current_sum,agg_all_contracts__g_contract__bit_da_guid__isMain__count__ALL_TIME,...,agg_ArbitrationCases__g_contractor__PlaintiffSum__sum__12_36M,agg_ArbitrationCases__g_contractor__PlaintiffSum__sum__12_48M,agg_ArbitrationCases__g_contractor__PlaintiffSum__sum__ALL_TIME,agg_tender_proposal__g_contractor__id__ALL__countDistinct__2W,agg_tender_proposal__g_contractor__id__ALL__countDistinct__4W,agg_tender_proposal__g_contractor__id__ALL__countDistinct__8W,agg_tender_proposal__g_contractor__id__ALL__countDistinct__12W,agg_tender_proposal__g_contractor__id__ALL__countDistinct__26W,agg_tender_proposal__g_contractor__id__ALL__countDistinct__52W,agg_tender_proposal__g_contractor__id__ALL__countDistinct__ALL_TIME
0,3029,2023-07-30,15,-0.347029,2023-07-24 21:00:00,42,84,637,-0.405169,-0.53903,...,-0.15847,-0.158471,-0.158473,-0.157822,-0.178045,-0.190966,-0.200348,-0.225724,-0.256704,-0.258454
1,4350,2023-07-30,11,-0.092977,2023-07-11 21:00:00,44,727,637,-0.196840,-0.53903,...,-0.15847,-0.158471,-0.158473,-0.157822,-0.178045,-0.190966,-0.200348,-0.225724,-0.256704,-0.258454
2,1095,2023-07-30,15,-0.467957,2023-07-24 21:00:00,44,728,637,-0.504333,-0.53903,...,-0.15847,-0.158471,-0.158473,-0.157822,-0.178045,-0.190966,-0.200348,-0.225724,-0.256704,-0.258454
3,2634,2023-07-30,15,-0.486723,2023-07-24 21:00:00,44,727,637,-0.519721,-0.53903,...,-0.15847,-0.158471,-0.158473,-0.157822,-0.178045,-0.190966,-0.200348,-0.225724,-0.256704,-0.258454
4,6535,2023-07-30,11,-0.452585,2023-07-27 21:00:00,42,85,637,-0.491727,-0.53903,...,-0.15847,-0.158471,-0.158473,-0.157822,-0.178045,-0.190966,-0.200348,-0.225724,-0.256704,-0.258454

In [59]:
X_train.head()

,contract_id,report_date,specialization_id,contract_init_sum,contract_date,project_id,building_id,contractor_id,contract_current_sum,agg_all_contracts__g_contract__bit_da_guid__isMain__count__ALL_TIME,...,agg_ArbitrationCases__g_contractor__PlaintiffSum__sum__12_36M,agg_ArbitrationCases__g_contractor__PlaintiffSum__sum__12_48M,agg_ArbitrationCases__g_contractor__PlaintiffSum__sum__ALL_TIME,agg_tender_proposal__g_contractor__id__ALL__countDistinct__2W,agg_tender_proposal__g_contractor__id__ALL__countDistinct__4W,agg_tender_proposal__g_contractor__id__ALL__countDistinct__8W,agg_tender_proposal__g_contractor__id__ALL__countDistinct__12W,agg_tender_proposal__g_contractor__id__ALL__countDistinct__26W,agg_tender_proposal__g_contractor__id__ALL__countDistinct__52W,agg_tender_proposal__g_contractor__id__ALL__countDistinct__ALL_TIME
0,5433,2023-01-01,18,1.115267,2022-05-10 21:00:00,43,701,438,0.793952,-0.539030,...,-0.158470,-0.158471,-0.158473,-0.157822,-0.178045,-0.190966,-0.200348,-0.225724,-0.256704,-0.258454
1,6875,2023-01-01,18,1.608002,2022-08-21 21:00:00,31,268,438,2.681675,0.743673,...,-0.158470,-0.158471,-0.158473,-0.157822,-0.178045,-0.190966,-0.200348,-0.225724,-0.256704,-0.258454
2,1476,2023-01-01,18,-0.360764,2022-10-17 21:00:00,31,268,438,-0.416432,-0.539030,...,-0.158470,-0.158471,-0.158473,-0.157822,-0.178045,-0.190966,-0.200348,-0.225724,-0.256704,-0.258454
3,4469,2023-01-01,12,-0.089303,2022-04-20 21:00:00,43,697,484,-0.193827,-0.539030,...,-0.158469,-0.158470,-0.158471,-0.157822,-0.178045,-0.190966,-0.200348,-0.225724,-0.256704,-0.258454
4,1330,2023-01-01,12,-0.515778,2022-03-02 21:00:00,49,224,484,0.133446,0.743673,...,-0.158469,-0.158470,-0.158471,-0.157822,-0.178045,-0.190966,-0.200348,-0.225724,-0.256704,-0.258454

In [60]:
X_train.dtypes[X_train.dtypes == 'object']

report_date      object
contract_date    object
dtype: object

In [61]:
cat_features = ['report_date', 'contract_date']

In [62]:
#X_train[cat_features[0]] = pd.to_datetime(X_train[cat_features[0]])
#X_train[cat_features[1]] = pd.to_datetime(X_train[cat_features[1]])

# Model

In [63]:
import pandas as pd
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.metrics import accuracy_score, classification_report
import pickle

train_X, test_X, train_y, test_y = train_test_split(X_train, df_train_y.default6, test_size=0.2, random_state=42)

clf = CatBoostClassifier(
    iterations=1000, 
    learning_rate=0.05,
    task_type="GPU",
    devices='0',
    max_depth=9,
    cat_features=cat_features
)


clf.fit(train_X, train_y, 
        cat_features=cat_features, 
        eval_set=(test_X, test_y), 
        verbose=False
)

print('CatBoost model is fitted: ' + str(clf.is_fitted()))
print('CatBoost model parameters:')
print(clf.get_params())

# Make predictions on the test set
y_pred = clf.predict(test_X)

# Evaluate the model
print("Test Set Accuracy:", accuracy_score(test_y, y_pred))
print("\nClassification Report:\n", classification_report(test_y, y_pred))

CatBoost model is fitted: True
CatBoost model parameters:
{'iterations': 1000, 'learning_rate': 0.05, 'task_type': 'GPU', 'devices': '0', 'max_depth': 9, 'cat_features': ['report_date', 'contract_date']}
Test Set Accuracy: 0.9918501820704005

Classification Report:
               precision    recall  f1-score   support

           0       1.00      0.99      1.00      4848
           1       0.97      0.98      0.97       919

    accuracy                           0.99      5767
   macro avg       0.98      0.99      0.98      5767
weighted avg       0.99      0.99      0.99      5767

In [66]:
from sklearn .metrics import roc_auc_score
auc = roc_auc_score(test_y, y_pred)
auc * 2 - 1

0.9717860387779802

In [67]:
ans = pd.read_csv('submission.csv')
ans.score = clf.predict(X_test)

In [68]:
ans.score.value_counts()

score
0    6799
1     533
Name: count, dtype: int64

In [69]:
# Всё ок порядок сохранён
ans.score = 1 - clf.predict_proba(X_test)
ans.score.unique()

array([0.01772726, 0.01382307, 0.00822232, ..., 0.07460108, 0.02698312,
       0.0492768 ])

In [70]:
ans.to_csv('submission_model_1.csv', index = False)

In [72]:
ans

      contract_id report_date     score
0            3029  2023-07-30  0.017727
1            4350  2023-07-30  0.013823
2            1095  2023-07-30  0.008222
3            2634  2023-07-30  0.003860
4            6535  2023-07-30  0.017537
...           ...         ...       ...
7327         4740  2023-09-24  0.006990
7328         2689  2023-09-24  0.054738
7329         7135  2023-09-24  0.074601
7330         4164  2023-09-24  0.026983
7331          194  2023-09-24  0.049277

[7332 rows x 3 columns]

In [73]:
best = pd.read_csv('best_preds.csv')
best

      contract_id report_date     score
0            3029  2023-07-30  0.005222
1            4350  2023-07-30  0.011583
2            1095  2023-07-30  0.005568
3            2634  2023-07-30  0.001436
4            6535  2023-07-30  0.002881
...           ...         ...       ...
7327         4740  2023-09-24  0.000845
7328         2689  2023-09-24  0.244731
7329         7135  2023-09-24  0.317511
7330         4164  2023-09-24  0.005811
7331          194  2023-09-24  0.025073

[7332 rows x 3 columns]

In [75]:
test = ans.copy()
test.score = (best.score + ans.score) / 2
test

      contract_id report_date     score
0            3029  2023-07-30  0.011475
1            4350  2023-07-30  0.012703
2            1095  2023-07-30  0.006895
3            2634  2023-07-30  0.002648
4            6535  2023-07-30  0.010209
...           ...         ...       ...
7327         4740  2023-09-24  0.003917
7328         2689  2023-09-24  0.149734
7329         7135  2023-09-24  0.196056
7330         4164  2023-09-24  0.016397
7331          194  2023-09-24  0.037175

[7332 rows x 3 columns]

In [79]:
test[test.score >= 0.5]

      contract_id report_date     score
17           4143  2023-07-30  0.779289
19           3943  2023-07-30  0.579947
22           7272  2023-07-30  0.899659
24           1838  2023-07-30  0.756228
25           3792  2023-07-30  0.929914
...           ...         ...       ...
7257         3889  2023-09-24  0.813323
7258         1534  2023-09-24  0.715436
7273         6957  2023-09-24  0.657297
7274         1140  2023-09-24  0.725395
7297         1838  2023-09-24  0.858236

[488 rows x 3 columns]

In [80]:
test[test.score < 0.5]

      contract_id report_date     score
0            3029  2023-07-30  0.011475
1            4350  2023-07-30  0.012703
2            1095  2023-07-30  0.006895
3            2634  2023-07-30  0.002648
4            6535  2023-07-30  0.010209
...           ...         ...       ...
7327         4740  2023-09-24  0.003917
7328         2689  2023-09-24  0.149734
7329         7135  2023-09-24  0.196056
7330         4164  2023-09-24  0.016397
7331          194  2023-09-24  0.037175

[6844 rows x 3 columns]